@model IEnumerable<ReseniasProyect.Models.dominio.Resenia>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de resenias</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Crear nueva reseña</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntuacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntuacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                  
                   <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                    }
          
            </td>
        </tr>
}
    </tbody>
</table>
